@import '@styles/variables/colors.scss';

.field {
	display: flex;
	align-items: flex-end;
	padding: 8px 0;
	padding-right: 20px;

	&__label {
		margin-right: 5px;
		font-weight: 700;
		white-space: nowrap;
	}

	&__value {
		width: 100%;
		border-bottom: 1px solid $black;
	}
}
