@import '@styles/variables/mixins.scss';
@import '@styles/variables/colors.scss';

.blanc {
	width: 48%;
	max-width: 480px;
	padding: 30px 25px;
	margin-left: 20px;
	border-radius: 8px;
	background-color: $white;
	box-shadow: 0 0 10px 1px $light-black;

	@include media-mobile {
		padding: 20px 15px;
		padding-left: 10px;
	}

	&__head {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 50%;
		margin-left: auto;
		font-size: 0.8em;
		line-height: 1.2;

		@include media-mobile {
			margin-right: 8px;
		}

		& b {
			font-weight: bold;
		}

		& span {
			text-align: right;
		}
	}

	&__heading {
		margin-top: 25px;
		margin-bottom: 20px;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
	}

	&__list {
		width: auto;
		padding-left: 30px;
		list-style: decimal;
	}

	&__item {
		width: auto;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
