@import '../../styles/global.scss';

.form {
	font-family: 'Roboto', sans-serif;
	width: 50%;

	& ul {
		display: flex;
		flex-wrap: wrap;
	}

	&__elem {
		box-sizing: border-box;
		min-width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
	}

	&__checkbox {
		width: 80%;
		display: flex;
		justify-content: space-around;

		& span {
			margin-right: 5vw;
		}

		& label {
			margin-right: 2vw;
		}
	}

	&__input {
		// min-width: 190px;
		height: 40px;
		margin-left: 10px;
		padding: 2px;
		border: 1px solid red;
		border-radius: 0.3em;
	}

	&__button {
		display: block;
		padding: 5px 10px;
		margin: 10px auto;
		border: 1px solid blue;
		border-radius: 5px;
	}
}
