@import '../../styles/global.scss';

.form {
	width: 50%;

	&__elem {
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		padding-left: 20px;
	}

	&__button {
		display: block;
		padding: 5px 10px;
		margin: 10px auto;
		border: 1px solid #000000;
		border-radius: 5px;
	}
}
