@import '@styles/global.scss';
@import '@styles/variables/mixins.scss';
@import '@styles/variables/colors.scss';

.form {
	width: 48%;
	max-width: 480px;
	padding: 25px 0 35px;
	border-radius: 8px;
	background-color: $white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

	@include media-mobile {
		padding: 10px 0 20px;
	}

	&__elem {
		width: 100%;
		padding: 10px 0;
		margin-bottom: 5px;
	}

	&__buttonWrapper {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 30px auto 0;
		padding-right: 10px;
		padding-left: 20px;
	}

	&__button {
		display: block;
		padding: 5px 10px;
		margin-right: 20px;
		border: 1px solid $black;
		border-radius: 5px;

		@include hoverSupport {
			box-shadow: 0 0 3px $black;
		}

		&:focus {
			box-shadow: 0 0 3px $black;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
