@font-face {
	font-weight: 400;
	font-family: 'Roboto';
	font-style: normal;
	font-display: swap;
	src: url('./fonts/roboto.woff') format('woff');
}

@font-face {
	font-weight: 400;
	font-family: 'Roboto';
	font-style: normal;
	font-display: swap;
	src: url('./fonts/roboto.woff2') format('woff2');
}

:root {
	font-family: 'Roboto', sans-serif;
}
