@import '@styles/variables/colors.scss';

@font-face {
	font-weight: 400;
	font-family: 'Roboto';
	font-style: normal;
	font-display: swap;
	src: url('./fonts/roboto.woff') format('woff');
}

@font-face {
	font-weight: 500;
	font-family: 'Roboto';
	font-style: normal;
	font-display: swap;
	src: url('./fonts/robotomedium.woff') format('woff');
}

@font-face {
	font-weight: 500;
	font-family: 'Roboto';
	font-style: normal;
	font-display: swap;
	src: url('./fonts/robotomedium.woff2') format('woff2');
}

* {
	box-sizing: border-box;
}

:root {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: $dark-white;
}
