@import '@styles/variables/mixins.scss';

.app {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1em;
	padding-bottom: 3em;

	@include media-mobile {
		min-width: 630px;
	}

	&__title {
		padding: 1em 0.75em;
		text-align: center;
		font-size: 2.5rem;
		letter-spacing: 0.8em;
		word-spacing: 1.5em;
		text-transform: uppercase;
	}

	&__main {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
