@import '@styles/variables/mixins.scss';

.app {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1em;
	padding-bottom: 3em;

	@include media-mobile {
		min-width: 630px;
	}

	&__title {
		padding: 1em 0.75em;
		font-size: 2rem;
		text-align: center;
	}

	&__main {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
