@import '@styles/variables/mixins.scss';
@import '@styles/variables/colors.scss';

.field {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	min-height: 64px;
	margin: auto;

	@include media-big-mobile {
		flex-direction: column;
		align-items: flex-start;
		font-size: 0.95rem;
	}

	&__label {
		position: absolute;
		left: 4%;
		max-width: 100%;
		overflow: hidden;
		transition: transform 0.25s ease, font-size 0.25s ease;

		&_small {
			transform: translateY(-15px);
			font-size: 13px;
		}
	}

	&__input {
		width: 100%;
		min-height: 55px;
		padding: 25px 10px 15px 17px;
		border: 1px solid $black;
		border-radius: 6px;
		font-family: inherit;
		background-color: transparent;

		@include hoverSupport {
			box-shadow: 0 0 3px $black;
		}

		&:focus {
			box-shadow: 0 0 3px $black;
		}

		&:focus + label {
			transform: translateY(-15px);
			font-size: 13px;
		}

		&[type='date'] {
			font-size: 15px;
			color: transparent;
		}

		&[type='date']:focus,
		&[type='date']:valid {
			color: $black;
		}

		&_wrong {
			border-color: $red;
		}

		&[type='tel']::placeholder {
			color: transparent;
		}

		&[type='tel']:focus::placeholder {
			color: $grey;
		}

		@include media-big-mobile {
			width: 100%;
			min-height: 54px;
			padding-top: 20px;
			padding-bottom: 10px;
			margin: 0;
		}
	}

	&__error {
		position: absolute;
		top: 63px;
		left: 0%;
		font-size: 13px;
		color: $red;

		@include media-big-mobile {
			top: 59px;
			left: 0;
		}
	}

	&__radioWrapper {
		display: flex;
		align-items: baseline;
		width: 100%;
		padding: 10px 0;

		@include media-big-mobile {
			padding-top: 3px;
		}

		& span {
			width: 17px;
			margin-left: 17px;

			@include media-big-mobile {
				margin-left: 13px;
			}
		}

		& div {
			display: flex;
			flex-grow: 1;
			justify-content: space-evenly;
			max-width: 60%;
			margin-left: auto;
		}

		& label {
			cursor: pointer;

			@include media-big-mobile {
				&:not(:last-child) {
					margin-right: 0.5em;
				}
			}
		}

		& input[type='radio'] {
			position: relative;
			height: 20px;
			width: 20px;
			margin-left: 1vw;
			vertical-align: sub;
			border-radius: 50%;
			appearance: none;
			outline: none;
			cursor: pointer;

			@include hoverSupport {
				box-shadow: 0 0 3px 1px $black;
			}

			&:focus::before {
				border-width: 2px;
			}

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				border: 1px solid $black;
				transform: translate(-50%, -50%);
			}

			&:checked::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				background-color: $black;
				transform: translate(-50%, -50%);
				visibility: visible;
			}

			&.wrong::before {
				border-color: $red;
			}
		}
	}
}
